body {
    background: rgb(34, 167, 219);
}


/*background: -moz-linear-gradient(left,  rgb(103, 79, 241) 0%, rgba(230,198,39,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(247,231,52,1)), color-stop(100%, rgba(230,198,39,1)));
background: -webkit-linear-gradient(left, rgba(247,231,52,1) 0%, rgba(230,198,39,1) 100%);
background: -o-linear-gradient(left, rgba(247,231,52,1) 0%, rgba(230,198,39,1) 100%);
background: -ms-linear-gradient(left, rgba(247,231,52,1) 0%, rgba(230,198,39,1) 100%);
background: linear-gradient(to right, rgba(247,231,52,1) 0%, rgba(230,198,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e734', endColorstr='#e6c627', GradientType=1 );
}*/

.menu {
    font-family: Arial, Helvetica, sans-serif;
}

.veiculo {
    font-family: Arial;
    text-align: center;
    font-size: 100px;
}

.navbar1 {
    overflow: hidden;
    background-color: rgb(34, 167, 219);
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: white;
}

.frente {
    width: 100%;
    border-radius: 6px;
    height: 500px;
    margin-top: 10px;
}

.text {
    padding: 10px;
    width: 90%;
    text-align: justify;
}

.logo {
    width: 10%;
    float: left
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centro900 {
    width: 900px;
    margin: 0 auto;
}

.centro1100 {
    width: 1100px;
    margin: 0 auto;
}

.centro300 {
    width: 300px;
    margin: 25px 50px 25px 35px;
}

.boxlogin {
    width: 900px;
    height: 450px;
    float: left;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.boxcadastro {
    width: 900px;
    margin-left: 200px;
    margin-right: auto;
    float: center;
    text-align: center;
    margin-top: 40px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.ladoesquerdo {
    width: 350px;
    height: 450px;
    padding: 15px;
    margin: 0 auto;
}

.ladodireito {
    width: 550px;
    height: 450px;
    float: left;
    background-image: url("../image/carrologin.jpg");
    background-position: center top;
    border-radius: 0px 10px 10px 0px;
}

.boxpagina {
    width: 1100px;
    height: 800px;
    float: left;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.table {
    width: 100%;
    height: 120px;
    float: left;
    position: relative;
    overflow: scroll;
}

.rodape {
    width: 100%;
    height: 25px;
    float: center;
    margin-top: 15px;
    text-align: center;
}

.rodape2 {
    width: 100%;
    margin-left: 480px;
    height: 25px;
    float: center;
    margin-top: 15px;
    text-align: center;
}

.form {
    width: 150%;
    margin-left: 20px;
    height: 25px;
    float: center;
    font-style: italic, bold;
    margin-top: 15px;
    text-align: justify;
}

.subnavbtn1 {
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    background-color: rgb(34, 167, 219);
    color: black;
    ;
}